openapi: 3.1.0
info:
  title: MusicOSY Platform API
  version: 1.0.0
  description: |
    The MusicOSY Platform API provides comprehensive access to the complete MusicOSY ecosystem.

    **Base URL:** `https://api.musicosy.com/v1`

    ## Authentication

    MusicOSY uses **two** authentication schemes:

    ### 1. API Keys (primary, server-to-server)

    Use an `sk_live_...` API key for any backend, CI, or service-to-service
    call against `/v1/*`. Keys are long-lived, revocable, and per-environment.

    ```
    Authorization: Bearer sk_live_...
    ```

    - **Format:** `sk_live_` + 43 chars url-safe base64 (51 chars total)
    - **Sandbox:** `sk_test_` prefix
    - **Storage:** Only the SHA-256 hash is stored; raw secret shown once
    - **Lifecycle:** create → use → roll (rotate) → revoke (soft delete)
    - **Dashboard:** [/dashboard/keys](https://musicosy.com/dashboard/keys)

    ### 2. Dashboard Session JWT (end-user, browser only)

    The Musicosy dashboard authenticates end users via Supabase Auth, which
    issues a short-lived JWT stored in an HTTP-only cookie. This JWT is
    **only** valid for `/api/dashboard/*` and `/api/me` routes — it is
    **not** accepted by `/v1/*` endpoints.

    ## Idempotency

    Mutating operations (POST, PUT, DELETE, PATCH) require an `Idempotency-Key`
    header (UUID v4) when implemented.

    ## Rate Limiting

    Rate limits vary by endpoint and are returned in response headers:
    `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset`.

    ## Versioning

    All endpoints are versioned at `/v1`. Breaking changes require a new
    major version (v2, v3, etc.).

    ## Discovery

    `GET /v1/_meta` returns the gateway's auth schemes, rate-limit policy,
    and endpoint counts (documented vs. live vs. not-implemented).
servers:
  - url: https://api.musicosy.com/v1
    description: Production
  - url: https://api-staging.musicosy.com/v1
    description: Staging
  - url: https://api-sandbox.musicosy.com/v1
    description: Sandbox

security:
  - apiKeyAuth: []
  - bearerAuth: []

tags:
  - name: Authentication
    description: Authentication and token management
  - name: Identity
    description: User profiles, social graph, verification
  - name: Discovery
    description: Feeds, recommendations, trending content
  - name: Content
    description: Posts, polls, countdowns, interactions
  - name: Messaging
    description: Direct messages, broadcasts, notifications
  - name: Live
    description: Live streaming, chat, tipping, ticketing
  - name: Governance
    description: Content visibility, moderation, takedowns
  - name: Commerce
    description: Products, orders, subscriptions, playlists
  - name: Catalog
    description: Releases, assets, metadata, distribution
  - name: Finance
    description: Royalties, splits, payouts, tax
  - name: Roster
    description: Team management, RBAC, contracts
  - name: Tour
    description: Tours, bookings, events, ticketing
  - name: CMS
    description: EPK, website builder, brand identity
  - name: Syndication
    description: Social publishing, smart links, DSP profiles
  - name: Search
    description: Universal search, index management
  - name: Analytics
    description: Analytics, reporting, BI
  - name: AI
    description: Audio processing, AI tools, mastering
  - name: Media
    description: Uploads, transcoding, streaming
  - name: Payments
    description: Payment methods, transactions, webhooks
  - name: Notifications
    description: Notification delivery, preferences
  - name: Entitlements
    description: Feature flags, tier management
  - name: Developer
    description: API keys, webhooks, SDKs
  - name: Advertising
    description: Ad campaigns, creative, targeting
  - name: Safety
    description: Reporting, moderation, investigations
  - name: Support
    description: Tickets, disputes, escalations
  - name: Legal
    description: Contracts, compliance, policies
  - name: Infra
    description: Service status, incidents, backups
  - name: Podcast
    description: Podcast hosting, RSS, DAI, transcription

paths:
  # ====================================================================
  # D1: IDENTITY & SOCIAL GRAPH
  # ====================================================================
  
  /auth/register:
    post:
      tags: [Authentication, Identity]
      summary: Register a new user
      operationId: registerUser
      security: []
      x-rate-limit: 10/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
            examples:
              valid:
                value:
                  email: artist@example.com
                  password: securePassword123!
                  displayName: My Artist Name
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterResponse'
              example:
                userId: "550e8400-e29b-41d4-a716-446655440000"
                token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                profile:
                  id: "550e8400-e29b-41d4-a716-446655440001"
                  name: "My Artist Name"
                  verified: false
        '400':
          $ref: '#/components/responses/ValidationError'
        '409':
          $ref: '#/components/responses/Conflict'

  /auth/login:
    post:
      tags: [Authentication, Identity]
      summary: Login to the platform
      operationId: loginUser
      security: []
      x-rate-limit: 20/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
            examples:
              valid:
                value:
                  email: artist@example.com
                  password: securePassword123!
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
              example:
                token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                user:
                  id: "550e8400-e29b-41d4-a716-446655440000"
                  email: "artist@example.com"
                  displayName: "My Artist Name"
                  verified: false
                  createdAt: "2026-08-15T08:00:00Z"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/refresh:
    post:
      tags: [Authentication, Identity]
      summary: Refresh access token
      operationId: refreshToken
      x-rate-limit: 60/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
            examples:
              valid:
                value:
                  refreshToken: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
              example:
                token: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        '401':
          $ref: '#/components/responses/Unauthorized'

  /profiles:
    get:
      tags: [Identity]
      summary: List profiles
      operationId: listProfiles
      security: []
      x-rate-limit: 120/min
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
        - name: search
          in: query
          schema:
            type: string
          description: Search by name or handle
      responses:
        '200':
          description: Profiles retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResponse'
              example:
                data:
                  - id: "550e8400-e29b-41d4-a716-446655440001"
                    name: "My Artist Name"
                    avatar: "https://storage.musicosy.com/avatars/123.jpg"
                    verified: true
                    relationshipLevel: "listener"
                pagination:
                  limit: 25
                  nextCursor: "eyJpZCI6IjQ1NiJ9"
                  hasMore: true

  /profiles/{id}:
    get:
      tags: [Identity]
      summary: Get profile by ID
      operationId: getProfile
      security: []
      x-rate-limit: 120/min
      parameters:
        - $ref: '#/components/parameters/ProfileIdParam'
      responses:
        '200':
          description: Profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        '404':
          $ref: '#/components/responses/NotFound'

  /profiles/me:
    put:
      tags: [Identity]
      summary: Update current user's profile
      operationId: updateProfile
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateRequest'
            examples:
              valid:
                value:
                  name: "My Updated Artist Name"
                  bio: "New bio text"
                  avatar: "https://storage.musicosy.com/avatars/new.jpg"
                  header: "https://storage.musicosy.com/headers/new.jpg"
                  links:
                    - label: "Instagram"
                      url: "https://instagram.com/myartist"
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /profiles/{id}/followers/me:
    put:
      tags: [Identity]
      summary: Follow a user
      operationId: followUser
      x-rate-limit: 60/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/ProfileIdParam'
      responses:
        '200':
          description: Follow successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FollowResponse'
              example:
                following: true
                count: 15433
        '404':
          $ref: '#/components/responses/NotFound'
        '403':
          $ref: '#/components/responses/Forbidden'
    delete:
      tags: [Identity]
      summary: Unfollow a user
      operationId: unfollowUser
      x-rate-limit: 60/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/ProfileIdParam'
      responses:
        '200':
          description: Unfollow successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnfollowResponse'
              example:
                count: 15432
        '404':
          $ref: '#/components/responses/NotFound'

  /profiles/{id}/connections:
    post:
      tags: [Identity]
      summary: Send connection request
      operationId: sendConnectionRequest
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/ProfileIdParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionRequest'
            examples:
              valid:
                value:
                  message: "Hi! I'd love to connect."
      responses:
        '200':
          description: Connection request sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionResponse'
              example:
                requestId: "550e8400-e29b-41d4-a716-446655440002"

  /connections/pending:
    get:
      tags: [Identity]
      summary: Get pending connection requests
      operationId: getPendingConnections
      x-rate-limit: 60/min
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Pending connections retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionListResponse'

  /connections/{id}:
    put:
      tags: [Identity]
      summary: Approve or reject connection request
      operationId: respondToConnection
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Connection request ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionResponseRequest'
            examples:
              approve:
                value:
                  approved: true
      responses:
        '200':
          description: Response recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /relationships/{profileId}:
    get:
      tags: [Identity]
      summary: Get relationship level with a user
      operationId: getRelationshipLevel
      x-rate-limit: 60/min
      parameters:
        - name: profileId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Profile ID to check
      responses:
        '200':
          description: Relationship level retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipLevelResponse'
              example:
                level: "fan"
                progress: 65
                nextTier: "connection"

  /relationships/hierarchy:
    get:
      tags: [Identity]
      summary: Get relationship hierarchy
      operationId: getRelationshipHierarchy
      x-rate-limit: 30/min
      responses:
        '200':
          description: Hierarchy retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RelationshipHierarchy'
    put:
      tags: [Identity]
      summary: Update relationship hierarchy
      operationId: updateRelationshipHierarchy
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RelationshipHierarchy'
      responses:
        '200':
          description: Hierarchy updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /relationships/perks:
    get:
      tags: [Identity]
      summary: Get perk configuration
      operationId: getPerkConfig
      x-rate-limit: 30/min
      responses:
        '200':
          description: Perk config retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PerkConfig'
    put:
      tags: [Identity]
      summary: Update perk configuration
      operationId: updatePerkConfig
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/PerkConfig'
      responses:
        '200':
          description: Perk config updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /badges/{userId}:
    get:
      tags: [Identity]
      summary: Get user's badges
      operationId: getUserBadges
      security: []
      x-rate-limit: 60/min
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: User ID
      responses:
        '200':
          description: Badges retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadgeListResponse'

  /verification/requests:
    post:
      tags: [Identity]
      summary: Submit verification request
      operationId: requestVerification
      x-rate-limit: 10/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VerificationRequest'
            examples:
              valid:
                value:
                  legalName: "John Doe"
                  artistName: "My Artist Name"
                  taxId: "123-45-6789"
                  documents: ["doc_123", "doc_456"]
      responses:
        '200':
          description: Verification requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationResponse'
              example:
                requestId: "550e8400-e29b-41d4-a716-446655440004"
                status: "pending"

  /verification/status:
    get:
      tags: [Identity]
      summary: Get verification status
      operationId: getVerificationStatus
      x-rate-limit: 30/min
      responses:
        '200':
          description: Status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerificationStatusResponse'
              example:
                status: "approved"
                verified: true

  # ====================================================================
  # D2: FEED & DISCOVERY
  # ====================================================================

  /feed/for-you:
    get:
      tags: [Discovery]
      summary: Get personalized feed
      operationId: getForYouFeed
      x-rate-limit: 100/min
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Feed retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedListResponse'

  /feed/following:
    get:
      tags: [Discovery]
      summary: Get following feed
      operationId: getFollowingFeed
      x-rate-limit: 100/min
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Feed retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedListResponse'

  /feed/friends-activity:
    get:
      tags: [Discovery]
      summary: Get friends' activity feed
      operationId: getFriendsActivity
      x-rate-limit: 60/min
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Activity feed retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityListResponse'

  /discover/genres:
    get:
      tags: [Discovery]
      summary: Get available genres
      operationId: getGenres
      security: []
      x-rate-limit: 50/min
      responses:
        '200':
          description: Genres retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenreListResponse'

  /discover/genre/{id}/content:
    get:
      tags: [Discovery]
      summary: Get content by genre
      operationId: getGenreContent
      security: []
      x-rate-limit: 50/min
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Genre ID
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Content retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeedListResponse'

  /discover/trending:
    get:
      tags: [Discovery]
      summary: Get trending content
      operationId: getTrending
      security: []
      x-rate-limit: 50/min
      parameters:
        - name: timeframe
          in: query
          schema:
            type: string
            enum: [daily, weekly, monthly]
          default: daily
          description: Trending timeframe
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
          default: 25
      responses:
        '200':
          description: Trending content retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrendingListResponse'

  /discover/new-releases:
    get:
      tags: [Discovery]
      summary: Get new releases
      operationId: getNewReleases
      x-rate-limit: 50/min
      parameters:
        - name: daysAgo
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 90
          default: 7
          description: Days to look back
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: New releases retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseSummaryListResponse'

  /discover/local:
    get:
      tags: [Discovery]
      summary: Discover local artists and events
      operationId: getLocalDiscovery
      security: []
      x-rate-limit: 30/min
      parameters:
        - name: lat
          in: query
          required: true
          schema:
            type: number
            format: float
          description: Latitude
        - name: lng
          in: query
          required: true
          schema:
            type: number
            format: float
          description: Longitude
        - name: radius
          in: query
          schema:
            type: integer
          default: 50
          description: Radius in kilometers
      responses:
        '200':
          description: Local discovery retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocalDiscoveryResponse'

  /discover/live-now:
    get:
      tags: [Discovery]
      summary: Get currently live streams
      operationId: getLiveNow
      security: []
      x-rate-limit: 30/min
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
          default: 10
      responses:
        '200':
          description: Live streams retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamSummaryListResponse'

  /recommendations/personalized:
    get:
      tags: [Discovery]
      summary: Get personalized recommendations
      operationId: getPersonalizedRecommendations
      x-rate-limit: 60/min
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
          default: 25
      responses:
        '200':
          description: Recommendations retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationListResponse'

  # ====================================================================
  # D3: CONTENT & MEDIA PUBLISHING
  # ====================================================================

  /posts:
    post:
      tags: [Content]
      summary: Create a new post
      operationId: createPost
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePostRequest'
            examples:
              text_post:
                value:
                  type: "post"
                  text: "Excited to announce my new single! 🎵"
                  mediaUploadIds: ["upl_123", "upl_456"]
                  visibility: "public"
              poll:
                value:
                  type: "poll"
                  text: "What should I release next?"
                  poll:
                    question: "What should I release next?"
                    options: ["Single", "EP", "Album"]
                    duration: 604800
                    anonymous: false
      responses:
        '201':
          description: Post created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePostResponse'
              example:
                postId: "550e8400-e29b-41d4-a716-446655440100"
                status: "draft"
        '400':
          $ref: '#/components/responses/ValidationError'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /posts/{id}:
    get:
      tags: [Content]
      summary: Get a post by ID
      operationId: getPost
      security: []
      x-rate-limit: 120/min
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Post ID
      responses:
        '200':
          description: Post retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Content]
      summary: Update a post
      operationId: updatePost
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Post ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePostRequest'
      responses:
        '200':
          description: Post updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags: [Content]
      summary: Delete a post
      operationId: deletePost
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Post ID
      responses:
        '200':
          description: Post deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /posts/drafts:
    get:
      tags: [Content]
      summary: Get current user's drafts
      operationId: getDrafts
      x-rate-limit: 60/min
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Drafts retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DraftListResponse'

  /posts/{id}/schedule:
    post:
      tags: [Content]
      summary: Schedule a post
      operationId: schedulePost
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Post ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SchedulePostRequest'
            examples:
              valid:
                value:
                  publishAt: "2026-08-20T12:00:00Z"
      responses:
        '200':
          description: Post scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SchedulePostResponse'
              example:
                scheduled: true

  /polls:
    post:
      tags: [Content]
      summary: Create a poll
      operationId: createPoll
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePollRequest'
            examples:
              valid:
                value:
                  question: "What genre should I explore next?"
                  options: ["Electronic", "Rock", "Hip Hop", "Jazz"]
                  duration: 86400
                  anonymous: false
      responses:
        '201':
          description: Poll created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePollResponse'
              example:
                pollId: "550e8400-e29b-41d4-a716-446655440200"

  /polls/{pollId}/votes/me:
    put:
      tags: [Content]
      summary: Vote on a poll
      operationId: votePoll
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: pollId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Poll ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoteRequest'
            examples:
              valid:
                value:
                  optionIndex: 0
      responses:
        '200':
          description: Vote recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoteResponse'
              example:
                success: true
                counts: [45, 23, 12, 8]
        '409':
          $ref: '#/components/responses/Conflict'
        '404':
          $ref: '#/components/responses/NotFound'

  /countdowns:
    post:
      tags: [Content]
      summary: Create a countdown
      operationId: createCountdown
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCountdownRequest'
            examples:
              valid:
                value:
                  targetDate: "2026-12-25T00:00:00Z"
                  timezone: "America/New_York"
                  style: "modern"
      responses:
        '201':
          description: Countdown created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCountdownResponse'
              example:
                countdownId: "550e8400-e29b-41d4-a716-446655440300"
                embed: "<div class='countdown' data-id='...'></div>"

  /posts/schedule:
    post:
      tags: [Content]
      summary: Schedule a post with content
      operationId: createScheduledPost
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateScheduledPostRequest'
      responses:
        '201':
          description: Post scheduled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateScheduledPostResponse'
              example:
                scheduledId: "550e8400-e29b-41d4-a716-446655440301"

  /interactions/like:
    post:
      tags: [Content]
      summary: Like content
      operationId: likeContent
      x-rate-limit: 100/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentInteractionRequest'
            examples:
              valid:
                value:
                  contentId: "550e8400-e29b-41d4-a716-446655440100"
      responses:
        '200':
          description: Content liked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LikeResponse'
              example:
                liked: true
                count: 235
        '404':
          $ref: '#/components/responses/NotFound'

  /interactions/unlike:
    delete:
      tags: [Content]
      summary: Unlike content
      operationId: unlikeContent
      x-rate-limit: 100/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentInteractionRequest'
      responses:
        '200':
          description: Content unliked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnlikeResponse'
              example:
                count: 234

  /interactions/comment:
    post:
      tags: [Content]
      summary: Comment on content
      operationId: commentContent
      x-rate-limit: 60/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommentRequest'
            examples:
              valid:
                value:
                  contentId: "550e8400-e29b-41d4-a716-446655440100"
                  text: "Great track! 🔥"
                  mentions: ["550e8400-e29b-41d4-a716-446655440001"]
      responses:
        '201':
          description: Comment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'

  /interactions/comments/{contentId}:
    get:
      tags: [Content]
      summary: Get comments on content
      operationId: getComments
      security: []
      x-rate-limit: 120/min
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Content ID
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Comments retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommentListResponse'

  /interactions/reaction:
    post:
      tags: [Content]
      summary: React to content
      operationId: reactContent
      x-rate-limit: 60/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactionRequest'
            examples:
              valid:
                value:
                  contentId: "550e8400-e29b-41d4-a716-446655440100"
                  reaction: "❤️"
      responses:
        '200':
          description: Reaction recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReactionResponse'
              example:
                count: 12

  /interactions/repost:
    post:
      tags: [Content]
      summary: Repost content
      operationId: repostContent
      x-rate-limit: 60/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepostRequest'
            examples:
              valid:
                value:
                  contentId: "550e8400-e29b-41d4-a716-446655440100"
                  commentary: "This is amazing!"
      responses:
        '200':
          description: Content reposted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepostResponse'
              example:
                reposted: true
                count: 9

  /interactions/unrepost:
    delete:
      tags: [Content]
      summary: Remove repost
      operationId: unrepostContent
      x-rate-limit: 60/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentInteractionRequest'
      responses:
        '200':
          description: Repost removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnrepostResponse'
              example:
                count: 8

  /embed/{contentId}:
    get:
      tags: [Content]
      summary: Get embed code for content
      operationId: getEmbedCode
      security: []
      x-rate-limit: 60/min
      parameters:
        - name: contentId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Content ID
      responses:
        '200':
          description: Embed code retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbedResponse'

  # ====================================================================
  # D4: RELATIONAL MECHANICS & MESSAGING
  # ====================================================================

  /conversations:
    get:
      tags: [Messaging]
      summary: Get conversations
      operationId: getConversations
      x-rate-limit: 60/min
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Conversations retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationListResponse'

  /conversations/{id}/messages:
    get:
      tags: [Messaging]
      summary: Get messages in conversation
      operationId: getMessages
      x-rate-limit: 120/min
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Conversation ID
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
          default: 50
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Messages retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageListResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /messages:
    post:
      tags: [Messaging]
      summary: Send a message
      operationId: sendMessage
      x-rate-limit: 60/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
            examples:
              valid:
                value:
                  conversationId: "550e8400-e29b-41d4-a716-446655440500"
                  text: "Thanks for the support!"
                  attachments:
                    - type: "image"
                      uploadId: "upl_123"
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /messages/{id}:
    delete:
      tags: [Messaging]
      summary: Delete a message
      operationId: deleteMessage
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Message ID
      responses:
        '200':
          description: Message deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /messages/broadcast:
    post:
      tags: [Messaging]
      summary: Send a broadcast message
      operationId: sendBroadcast
      x-rate-limit: 5/day
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BroadcastRequest'
            examples:
              valid:
                value:
                  segmentId: "seg_001"
                  text: "🎵 New single out Friday! Pre-save link in bio."
                  media:
                    - type: "image"
                      uploadId: "upl_789"
      responses:
        '200':
          description: Broadcast sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BroadcastResponse'
              example:
                broadcastId: "bcast_001"
                delivered: 542
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'

  /messages/auto-responder:
    post:
      tags: [Messaging]
      summary: Create auto-responder
      operationId: createAutoResponder
      x-rate-limit: 10/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoResponderRequest'
      responses:
        '200':
          description: Auto-responder created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoResponderResponse'
              example:
                configId: "ar_001"
    get:
      tags: [Messaging]
      summary: Get auto-responder configuration
      operationId: getAutoResponder
      x-rate-limit: 30/min
      responses:
        '200':
          description: Auto-responder retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoResponderConfig'
    put:
      tags: [Messaging]
      summary: Update auto-responder
      operationId: updateAutoResponder
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoResponderRequest'
      responses:
        '200':
          description: Auto-responder updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /notifications:
    get:
      tags: [Messaging, Notifications]
      summary: Get notifications
      operationId: getNotifications
      x-rate-limit: 120/min
      parameters:
        - name: filter
          in: query
          schema:
            type: string
            enum: [all, content, engagement, event, commerce, system]
          default: all
          description: Notification type filter
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Notifications retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationListResponse'

  /notifications/read:
    post:
      tags: [Messaging, Notifications]
      summary: Mark notifications as read
      operationId: markNotificationsRead
      x-rate-limit: 60/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReadNotificationsRequest'
            examples:
              valid:
                value:
                  notificationIds: ["notif_001", "notif_002"]
      responses:
        '200':
          description: Notifications marked read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /notifications/preferences:
    get:
      tags: [Messaging, Notifications]
      summary: Get notification preferences
      operationId: getNotificationPreferences
      x-rate-limit: 30/min
      responses:
        '200':
          description: Preferences retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
    put:
      tags: [Messaging, Notifications]
      summary: Update notification preferences
      operationId: updateNotificationPreferences
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationPreferences'
      responses:
        '200':
          description: Preferences updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /users/block:
    post:
      tags: [Messaging]
      summary: Block a user
      operationId: blockUser
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserActionRequest'
            examples:
              valid:
                value:
                  userId: "550e8400-e29b-41d4-a716-446655440001"
      responses:
        '200':
          description: User blocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      tags: [Messaging]
      summary: Unblock a user
      operationId: unblockUser
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserActionRequest'
      responses:
        '200':
          description: User unblocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /users/blocked:
    get:
      tags: [Messaging]
      summary: Get blocked users
      operationId: getBlockedUsers
      x-rate-limit: 30/min
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Blocked users retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSummaryListResponse'

  /users/mute:
    post:
      tags: [Messaging]
      summary: Mute a user
      operationId: muteUser
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserActionRequest'
      responses:
        '200':
          description: User muted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ====================================================================
  # D5: LIVE BROADCASTING & STREAMING
  # ====================================================================

  /live-streams:
    get:
      tags: [Live]
      summary: List live streams
      operationId: listLiveStreams
      security: []
      x-rate-limit: 60/min
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, scheduled, ended]
          default: active
          description: Stream status filter
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Streams retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStreamListResponse'
    post:
      tags: [Live]
      summary: Create a live stream
      operationId: createLiveStream
      x-rate-limit: 10/hour
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLiveStreamRequest'
            examples:
              valid:
                value:
                  title: "My Live Performance"
                  description: "Join me for a live set!"
                  type: "standard"
                  monetization:
                    ticketRequired: true
                    ticketPrice: 9.99
                    tippingEnabled: true
                    merchEnabled: true
      responses:
        '201':
          description: Stream created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateLiveStreamResponse'
              example:
                streamId: "550e8400-e29b-41d4-a716-446655440600"
                streamKey: "live_abc123def456"
                ingestUrl: "rtmp://ingest.musicosy.com/live"
        '403':
          $ref: '#/components/responses/Forbidden'

  /live-streams/{id}:
    get:
      tags: [Live]
      summary: Get a live stream
      operationId: getLiveStream
      security: []
      x-rate-limit: 60/min
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
      responses:
        '200':
          description: Stream retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveStream'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /live-streams/{id}/end:
    post:
      tags: [Live]
      summary: End a live stream
      operationId: endLiveStream
      x-rate-limit: 10/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
      responses:
        '200':
          description: Stream ended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /live-streams/{id}/chat:
    get:
      tags: [Live]
      summary: Get chat messages
      operationId: getLiveChat
      x-rate-limit: 120/min
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
          default: 50
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Chat messages retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageListResponse'
    post:
      tags: [Live]
      summary: Send a chat message
      operationId: sendChatMessage
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendChatMessageRequest'
            examples:
              valid:
                value:
                  text: "Amazing performance!"
                  reaction: "🔥"
      responses:
        '201':
          description: Message sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatMessageResponse'

  /live-streams/{id}/tips:
    post:
      tags: [Live]
      summary: Send a tip
      operationId: sendTip
      x-rate-limit: 10/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TipRequest'
            examples:
              valid:
                value:
                  amount: 5.00
                  message: "Love your music!"
      responses:
        '200':
          description: Tip sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TipResponse'
              example:
                transactionId: "txn_001"
        '402':
          $ref: '#/components/responses/PaymentRequired'

  /live-streams/{id}/ticket-checkouts:
    post:
      tags: [Live]
      summary: Create ticket checkout session
      operationId: createTicketCheckout
      x-rate-limit: 10/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TicketCheckoutRequest'
      responses:
        '200':
          description: Checkout session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TicketCheckoutResponse'
              example:
                checkoutId: "chk_001"
                status: "pending"
                clientSecret: "pi_123_secret_456"

  /live-streams/{id}/monetization:
    put:
      tags: [Live]
      summary: Update stream monetization
      operationId: updateStreamMonetization
      x-rate-limit: 10/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/StreamIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StreamMonetizationRequest'
      responses:
        '200':
          description: Monetization updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /meet-greet/sessions:
    post:
      tags: [Live]
      summary: Create meet & greet session
      operationId: createMeetGreet
      x-rate-limit: 10/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMeetGreetRequest'
      responses:
        '201':
          description: Session created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMeetGreetResponse'
              example:
                sessionId: "mg_001"

  /meet-greet/sessions/{id}:
    get:
      tags: [Live]
      summary: Get meet & greet session
      operationId: getMeetGreet
      x-rate-limit: 30/min
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Session ID
      responses:
        '200':
          description: Session retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MeetGreetSession'

  /checkout/ticket:
    post:
      tags: [Live, Tour]
      summary: Purchase event ticket
      operationId: purchaseTicket
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseTicketRequest'
      responses:
        '201':
          description: Ticket purchased
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseTicketResponse'

  # ====================================================================
  # D6: GOVERNANCE & ENFORCEMENT
  # ====================================================================

  /governance/visibility/{assetId}:
    get:
      tags: [Governance]
      summary: Get visibility settings
      operationId: getVisibilitySettings
      x-rate-limit: 60/min
      parameters:
        - $ref: '#/components/parameters/AssetIdParam'
      responses:
        '200':
          description: Settings retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisibilityConfig'
    put:
      tags: [Governance]
      summary: Update visibility settings
      operationId: updateVisibilitySettings
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/AssetIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisibilityConfig'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /governance/delivery/{assetId}:
    get:
      tags: [Governance]
      summary: Get delivery rules
      operationId: getDeliveryRules
      x-rate-limit: 60/min
      parameters:
        - $ref: '#/components/parameters/AssetIdParam'
      responses:
        '200':
          description: Rules retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryRules'
    put:
      tags: [Governance]
      summary: Update delivery rules
      operationId: updateDeliveryRules
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/AssetIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryRules'
      responses:
        '200':
          description: Rules updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /governance/downloads/{assetId}:
    get:
      tags: [Governance]
      summary: Get download settings
      operationId: getDownloadSettings
      x-rate-limit: 60/min
      parameters:
        - $ref: '#/components/parameters/AssetIdParam'
      responses:
        '200':
          description: Settings retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadSettings'
    put:
      tags: [Governance]
      summary: Update download settings
      operationId: updateDownloadSettings
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/AssetIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadSettings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /governance/regional/{assetId}:
    get:
      tags: [Governance]
      summary: Get regional settings
      operationId: getRegionalSettings
      x-rate-limit: 60/min
      parameters:
        - $ref: '#/components/parameters/AssetIdParam'
      responses:
        '200':
          description: Settings retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegionalSettings'
    put:
      tags: [Governance]
      summary: Update regional settings
      operationId: updateRegionalSettings
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/AssetIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegionalSettings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /governance/interactions/{assetId}:
    get:
      tags: [Governance]
      summary: Get interaction settings
      operationId: getInteractionSettings
      x-rate-limit: 60/min
      parameters:
        - $ref: '#/components/parameters/AssetIdParam'
      responses:
        '200':
          description: Settings retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InteractionSettings'
    put:
      tags: [Governance]
      summary: Update interaction settings
      operationId: updateInteractionSettings
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/AssetIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InteractionSettings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /governance/remix/{assetId}:
    get:
      tags: [Governance]
      summary: Get remix permissions
      operationId: getRemixPermissions
      x-rate-limit: 60/min
      parameters:
        - $ref: '#/components/parameters/AssetIdParam'
      responses:
        '200':
          description: Permissions retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemixPermissions'
    put:
      tags: [Governance]
      summary: Update remix permissions
      operationId: updateRemixPermissions
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - $ref: '#/components/parameters/AssetIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemixPermissions'
      responses:
        '200':
          description: Permissions updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /governance/moderation:
    get:
      tags: [Governance]
      summary: Get moderation settings
      operationId: getModerationSettings
      x-rate-limit: 30/min
      responses:
        '200':
          description: Settings retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModerationSettings'
    put:
      tags: [Governance]
      summary: Update moderation settings
      operationId: updateModerationSettings
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerationSettings'
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /comments/flagged:
    get:
      tags: [Governance]
      summary: Get flagged comments
      operationId: getFlaggedComments
      x-rate-limit: 60/min
      parameters:
        - name: assetId
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by asset
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Flagged comments retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlaggedCommentListResponse'

  /comments/{id}/moderate:
    put:
      tags: [Governance]
      summary: Moderate a comment
      operationId: moderateComment
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Comment ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModerateCommentRequest'
            examples:
              delete:
                value:
                  action: "delete"
      responses:
        '200':
          description: Comment moderated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /content/{id}/transitions:
    post:
      tags: [Governance]
      summary: Transition content state
      operationId: transitionContent
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Content ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransitionRequest'
      responses:
        '200':
          description: Content transitioned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitionResponse'
              example:
                success: true
                newState: "archived"

  /content/{id}/deletion-requests:
    post:
      tags: [Governance]
      summary: Request content deletion
      operationId: requestDeletion
      x-rate-limit: 10/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Content ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletionRequest'
      responses:
        '200':
          description: Deletion requested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletionResponse'
              example:
                status: "delete_pending"
                deletionRequestedAt: "2026-08-15T08:00:00Z"
                purgeScheduledAt: "2026-09-14T08:00:00Z"
                canRestoreUntil: "2026-09-14T08:00:00Z"
        '409':
          $ref: '#/components/responses/Conflict'

  /content/{id}/deletion-requests/cancel:
    post:
      tags: [Governance]
      summary: Cancel deletion request
      operationId: cancelDeletion
      x-rate-limit: 10/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Content ID
      responses:
        '200':
          description: Deletion cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelDeletionResponse'
              example:
                success: true
                status: "active"

  # ====================================================================
  # D7: WALLET & CONSUMER COMMERCE
  # ====================================================================

  /commerce/products:
    get:
      tags: [Commerce]
      summary: List products
      operationId: listProducts
      security: []
      x-rate-limit: 120/min
      parameters:
        - name: category
          in: query
          schema:
            type: string
          description: Filter by category
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, published, archived]
          default: published
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Products retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'
    post:
      tags: [Commerce]
      summary: Create a product
      operationId: createProduct
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProductRequest'
      responses:
        '201':
          description: Product created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProductResponse'
              example:
                productId: "prod_001"

  /commerce/products/{id}:
    put:
      tags: [Commerce]
      summary: Update a product
      operationId: updateProduct
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Product ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProductRequest'
      responses:
        '200':
          description: Product updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /commerce/storefront:
    get:
      tags: [Commerce]
      summary: Get storefront configuration
      operationId: getStorefront
      x-rate-limit: 60/min
      responses:
        '200':
          description: Storefront retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Storefront'
    put:
      tags: [Commerce]
      summary: Update storefront configuration
      operationId: updateStorefront
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StorefrontUpdate'
      responses:
        '200':
          description: Storefront updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /commerce/orders:
    get:
      tags: [Commerce]
      summary: Get user's orders
      operationId: getOrders
      x-rate-limit: 60/min
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, paid, fulfilled, shipped, delivered, cancelled, refunded]
          description: Order status filter
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Orders retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'

  /checkout/merch:
    post:
      tags: [Commerce]
      summary: Checkout merchandise
      operationId: checkoutMerch
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckoutMerchRequest'
      responses:
        '201':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'

  /payments/tip:
    post:
      tags: [Commerce, Payments]
      summary: Send a tip
      operationId: sendTipPayment
      x-rate-limit: 10/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TipPaymentRequest'
      responses:
        '200':
          description: Tip sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TipPaymentResponse'
              example:
                transactionId: "txn_002"

  /payments/subscription:
    post:
      tags: [Commerce, Payments]
      summary: Create a subscription
      operationId: createSubscription
      x-rate-limit: 10/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
              example:
                subscriptionId: "sub_001"

  /payments/subscription/{id}:
    delete:
      tags: [Commerce, Payments]
      summary: Cancel a subscription
      operationId: cancelSubscription
      x-rate-limit: 10/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Subscription ID
      responses:
        '200':
          description: Subscription cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /playlists:
    get:
      tags: [Commerce]
      summary: Get user's playlists
      operationId: getPlaylists
      x-rate-limit: 60/min
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Playlists retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistListResponse'
    post:
      tags: [Commerce]
      summary: Create a playlist
      operationId: createPlaylist
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePlaylistRequest'
      responses:
        '201':
          description: Playlist created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlaylistResponse'

  /playlists/{id}:
    put:
      tags: [Commerce]
      summary: Update a playlist
      operationId: updatePlaylist
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Playlist ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlaylistRequest'
      responses:
        '200':
          description: Playlist updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
    delete:
      tags: [Commerce]
      summary: Delete a playlist
      operationId: deletePlaylist
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Playlist ID
      responses:
        '200':
          description: Playlist deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /playlists/{id}/collaborate:
    post:
      tags: [Commerce]
      summary: Add collaborators to playlist
      operationId: addCollaborators
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Playlist ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollaborateRequest'
      responses:
        '200':
          description: Collaborators added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /playlists/{playlistId}/items:
    post:
      tags: [Commerce]
      summary: Add item to playlist
      operationId: addPlaylistItem
      x-rate-limit: 60/min
      x-idempotent: true
      parameters:
        - name: playlistId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Playlist ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlaylistItemRequest'
      responses:
        '200':
          description: Item added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ====================================================================
  # D8: CATALOG & DISTRIBUTION
  # ====================================================================

  /releases:
    post:
      tags: [Catalog]
      summary: Create a new release
      operationId: createRelease
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateReleaseRequest'
            examples:
              valid:
                value:
                  title: "My New Album"
                  artist: "My Artist Name"
                  type: "album"
                  metadata:
                    genre: ["Electronic", "Pop"]
                    mood: ["Energetic", "Uplifting"]
                    explicit: false
                    language: "en"
                    description: "My first full-length album"
                  assets:
                    audio: ["asset_001", "asset_002"]
                    cover: "asset_003"
                  schedule:
                    releaseDate: "2026-09-01T00:00:00Z"
                    timezone: "America/New_York"
      responses:
        '201':
          description: Release created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateReleaseResponse'
              example:
                releaseId: "550e8400-e29b-41d4-a716-446655440800"
                status: "draft"
        '400':
          $ref: '#/components/responses/ValidationError'
        '403':
          $ref: '#/components/responses/Forbidden'

  /releases/{id}:
    get:
      tags: [Catalog]
      summary: Get a release
      operationId: getRelease
      x-rate-limit: 120/min
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Release ID
      responses:
        '200':
          description: Release retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Release'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags: [Catalog]
      summary: Update a release
      operationId: updateRelease
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Release ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReleaseRequest'
      responses:
        '200':
          description: Release updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /releases/{id}/submit:
    post:
      tags: [Catalog]
      summary: Submit release for distribution
      operationId: submitRelease
      x-rate-limit: 10/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Release ID
      responses:
        '202':
          description: Release submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitReleaseResponse'
              example:
                submissionId: "sub_001"
                status: "submitted"
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /releases/calendar:
    get:
      tags: [Catalog]
      summary: Get release calendar
      operationId: getReleaseCalendar
      x-rate-limit: 60/min
      parameters:
        - name: month
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 12
          description: Month (1-12)
        - name: year
          in: query
          schema:
            type: integer
          description: Year
      responses:
        '200':
          description: Calendar retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseCalendarResponse'

  /assets:
    post:
      tags: [Catalog, Media]
      summary: Create an asset
      operationId: createAsset
      x-rate-limit: 60/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAssetRequest'
      responses:
        '201':
          description: Asset created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAssetResponse'
              example:
                assetId: "ast_001"
                url: "https://storage.musicosy.com/assets/ast_001.jpg"
                processingStatus: "pending"

  /assets/{id}:
    get:
      tags: [Catalog, Media]
      summary: Get an asset
      operationId: getAsset
      x-rate-limit: 120/min
      parameters:
        - $ref: '#/components/parameters/AssetIdParam'
      responses:
        '200':
          description: Asset retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '404':
          $ref: '#/components/responses/NotFound'

  /metadata/{releaseId}:
    get:
      tags: [Catalog]
      summary: Get release metadata
      operationId: getReleaseMetadata
      x-rate-limit: 120/min
      parameters:
        - name: releaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Release ID
      responses:
        '200':
          description: Metadata retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReleaseMetadata'
    put:
      tags: [Catalog]
      summary: Update release metadata
      operationId: updateReleaseMetadata
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: releaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Release ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReleaseMetadata'
      responses:
        '200':
          description: Metadata updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /metadata/batch/analyze:
    post:
      tags: [Catalog, AI]
      summary: Analyze metadata for assets
      operationId: analyzeMetadata
      x-rate-limit: 10/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchAnalyzeRequest'
      responses:
        '200':
          description: Analysis completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAnalyzeResponse'

  /metadata/batch/apply:
    post:
      tags: [Catalog]
      summary: Apply tags to assets
      operationId: applyTags
      x-rate-limit: 10/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchApplyRequest'
      responses:
        '200':
          description: Tags applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /identifiers:
    get:
      tags: [Catalog]
      summary: Get identifiers
      operationId: getIdentifiers
      x-rate-limit: 60/min
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [isrc, upc, grid]
          description: Identifier type
      responses:
        '200':
          description: Identifiers retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentifierListResponse'

  /identifiers/issue:
    post:
      tags: [Catalog]
      summary: Issue identifiers
      operationId: issueIdentifiers
      x-rate-limit: 10/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueIdentifierRequest'
      responses:
        '200':
          description: Identifiers issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IssueIdentifierResponse'
              example:
                identifiers: ["US-ABC-12-34567", "US-ABC-12-34568"]

  /barcodes/generate:
    post:
      tags: [Catalog]
      summary: Generate barcode
      operationId: generateBarcode
      x-rate-limit: 10/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateBarcodeRequest'
      responses:
        '200':
          description: Barcode generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateBarcodeResponse'

  /distribution/submit:
    post:
      tags: [Catalog]
      summary: Submit release for distribution
      operationId: submitDistribution
      x-rate-limit: 30/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DistributionRequest'
      responses:
        '202':
          description: Distribution submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributionResponse'
              example:
                distributionId: "dist_001"
                status: "pending"

  /distribution/{id}/status:
    get:
      tags: [Catalog]
      summary: Get distribution status
      operationId: getDistributionStatus
      x-rate-limit: 120/min
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Distribution ID
      responses:
        '200':
          description: Status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DistributionStatus'

  /distribution/territory/{releaseId}:
    get:
      tags: [Catalog]
      summary: Get territory configuration
      operationId: getTerritoryConfig
      x-rate-limit: 60/min
      parameters:
        - name: releaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Release ID
      responses:
        '200':
          description: Territory config retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TerritoryConfig'
    put:
      tags: [Catalog]
      summary: Update territory configuration
      operationId: updateTerritoryConfig
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: releaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Release ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TerritoryConfig'
      responses:
        '200':
          description: Territory config updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /distribution/physical:
    post:
      tags: [Catalog]
      summary: Create physical distribution order
      operationId: createPhysicalDistribution
      x-rate-limit: 10/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhysicalDistributionRequest'
      responses:
        '202':
          description: Physical distribution created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhysicalDistributionResponse'

  /lyrics/{releaseId}:
    get:
      tags: [Catalog]
      summary: Get lyrics
      operationId: getLyrics
      x-rate-limit: 60/min
      parameters:
        - name: releaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Release ID
      responses:
        '200':
          description: Lyrics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lyrics'
    put:
      tags: [Catalog]
      summary: Update lyrics
      operationId: updateLyrics
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: releaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Release ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Lyrics'
      responses:
        '200':
          description: Lyrics updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'

  /lyrics/{releaseId}/publish:
    post:
      tags: [Catalog]
      summary: Publish lyrics
      operationId: publishLyrics
      x-rate-limit: 10/min
      x-idempotent: true
      parameters:
        - name: releaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Release ID
      responses:
        '200':
          description: Lyrics published
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ====================================================================
  # D9: ROYALTIES, SPLITS & FINANCE
  # ====================================================================

  /finance/statements:
    post:
      tags: [Finance]
      summary: Upload royalty statement
      operationId: uploadStatement
      x-rate-limit: 10/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadStatementRequest'
      responses:
        '202':
          description: Statement uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadStatementResponse'
              example:
                statementId: "stmt_001"
                status: "uploaded"

  /finance/statements/{id}:
    get:
      tags: [Finance]
      summary: Get royalty statement
      operationId: getStatement
      x-rate-limit: 60/min
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Statement ID
      responses:
        '200':
          description: Statement retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoyaltyStatement'

  /finance/splits/{releaseId}:
    get:
      tags: [Finance]
      summary: Get splits for a release
      operationId: getSplits
      x-rate-limit: 60/min
      parameters:
        - name: releaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Release ID
      responses:
        '200':
          description: Splits retrieved
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Split'
    put:
      tags: [Finance]
      summary: Update splits for a release
      operationId: updateSplits
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: releaseId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Release ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSplitsRequest'
      responses:
        '200':
          description: Splits updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateResponse'
        '400':
          $ref: '#/components/responses/ValidationError'

  /finance/payouts:
    get:
      tags: [Finance]
      summary: Get payouts
      operationId: getPayouts
      x-rate-limit: 60/min
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, approved, held, rejected, processing, completed, failed]
          default: pending
          description: Payout status filter
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/CursorParam'
      responses:
        '200':
          description: Payouts retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutListResponse'

  /finance/payouts/{id}/approve:
    put:
      tags: [Finance]
      summary: Approve a payout
      operationId: approvePayout
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Payout ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovePayoutRequest'
      responses:
        '200':
          description: Payout approved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApprovePayoutResponse'
              example:
                success: true
                status: "processing"
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'

  /finance/payouts/{id}/hold:
    put:
      tags: [Finance]
      summary: Hold a payout
      operationId: holdPayout
      x-rate-limit: 30/min
      x-idempotent: true
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Payout ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HoldPayoutRequest'
      responses:
        '200':
          description: Payout held
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldPayoutResponse'
              example:
                success: true
                status: "held"

  /finance/disbursements:
    post:
      tags: [Finance]
      summary: Create disbursement batch
      operationId: createDisbursement
      x-rate-limit: 10/min
      x-idempotent: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DisbursementRequest'
      responses:
        '202':
          description: Disbursement created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisbursementResponse'
              example:
[...]
